<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="EdgeServer"
            class="org.rifidi.edge.client.connections.views.EdgeServerConnectionView"
            id="org.rifidi.edge.client.readerview.views.EdgeServerConnectionView"
            name="EdgeServerConnectionView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.perspective">
         <view
               id="org.rifidi.edge.client.readerview.views.EdgeServerConnectionView"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.rifidi.edge.client.readerview.views.EdgeServerConnectionView?after=additions">
         <command
               commandId="org.rifidi.edge.client.connections.commands.refresh"
               icon="icons/action_refresh_blue.gif"
               id="refresh"
               label="refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="org.rifidi.edge.client.connections.commands.AddEdgeServer"
               icon="icons/icon_network.gif"
               id="AddEdgeServer"
               label="Add Rifidi EdgeServer"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.rifidi.edge.client.readerview.views.EdgeServerConnectionView?after=additions">
         <command
               commandId="org.rifidi.edge.client.connections.commands.AddEdgeServer"
               icon="icons/icon_network.gif"
               id="AddNewEdgeServer"
               label="Add new Server"
               style="push">
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.commands.AddNewReader"
               icon="icons/icon_wand.gif"
               id="AddNewReader"
               label="Add new Reader"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.edgeserver.EdgeServerConnection">
                     </instanceof>
                     <test
                           args="true"
                           property="org.rifidi.edge.client.connections.edgeserver.edgeserverconnectionstate">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.resetEdgeServer"
               icon="icons/connect.png"
               id="ResetEdgeServer"
               label="Reconnect to Edge Server"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.edgeserver.EdgeServerConnection">
                     </instanceof>
                     <test
                           args="false"
                           property="org.rifidi.edge.client.connections.edgeserver.edgeserverconnectionstate">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.RemoveReader"
               icon="icons/page_cross.gif"
               id="RemoveReader"
               label="Remove Reader"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="true"
                           property="org.rifidi.edge.client.connections.edgeserver.edgeserverconnectionstate">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="readeractions.seperator"
               visible="true">
         </separator>
         <command
               commandId="org.rifidi.edge.client.connections.EditReaderInfo"
               icon="icons/bullet_wrench.png"
               id="EditReaderInfo"
               label="Edit Reader"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="CONFIGURED"
                           property="org.rifidi.edge.client.connections.edgeserver.state">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.commands.EnableReader"
               icon="icons/flag_green.gif"
               id="EnableReader"
               label="Enable"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="CONFIGURED"
                           property="org.rifidi.edge.client.connections.edgeserver.state">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.commands.DisableReader"
               icon="icons/flag_red.gif"
               id="DisableReader"
               label="Disable"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="OK"
                           property="org.rifidi.edge.client.connections.edgeserver.state">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.commands.ResetReader"
               icon="icons/icon_history.gif"
               id="ResetReader"
               label="Reset Reader"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="ERROR"
                           property="org.rifidi.edge.client.connections.edgeserver.state">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="common.seperator"
               visible="true">
         </separator>
         <command
               commandId="org.rifidi.edge.client.connections.commands.refresh"
               icon="icons/action_refresh_blue.gif"
               id="Refresh"
               label="Refresh">
         </command>
         <separator
               name="others.seperator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.RefreshHandler"
            id="org.rifidi.edge.client.connections.commands.refresh"
            name="Refresh">
      </command>
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.AddEdgeServerHandler"
            id="org.rifidi.edge.client.connections.commands.AddEdgeServer"
            name="AddEdgeServer">
      </command>
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.AddNewReaderHandler"
            id="org.rifidi.edge.client.connections.commands.AddNewReader"
            name="AddNewReader">
      </command>
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.RemoveReaderHandler"
            id="org.rifidi.edge.client.connections.RemoveReader"
            name="RemoveReader">
      </command>
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.ResetReaderHandler"
            id="org.rifidi.edge.client.connections.commands.ResetReader"
            name="ResetReader">
      </command>
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.DisableReaderHandler"
            id="org.rifidi.edge.client.connections.commands.DisableReader"
            name="DisableReader">
      </command>
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.EnableReaderHandler"
            id="org.rifidi.edge.client.connections.commands.EnableReader"
            name="EnableReader">
      </command>
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.EditReaderHandler"
            id="org.rifidi.edge.client.connections.EditReaderInfo"
            name="EditReader">
      </command>
      <command
            defaultHandler="org.rifidi.edge.client.connections.handlers.ResetEdgeServer"
            id="org.rifidi.edge.client.connections.resetEdgeServer"
            name="resetEdgeServer">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.rifidi.edge.client.connections.propertytesters.RemoteReaderTester"
            id="org.rifidi.edge.client.connections.edgeserver.RemoteReaderState"
            namespace="org.rifidi.edge.client.connections.edgeserver"
            properties="state"
            type="org.rifidi.edge.client.connections.remotereader.RemoteReader">
      </propertyTester>
      <propertyTester
            class="org.rifidi.edge.client.connections.propertytesters.EdgeServerConnectionTester"
            id="org.rifidi.edge.client.connections.edgeserver.EdgeServerConnectionState"
            namespace="org.rifidi.edge.client.connections.edgeserver"
            properties="edgeserverconnectionstate"
            type="org.rifidi.edge.client.connections.edgeserver.EdgeServerConnection">
      </propertyTester>
   </extension>

</plugin>
