<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rifidi.edge.client.sal.perspective.SALPerspective"
            icon="icons/reader-16x16.png"
            id="org.rifidi.edge.client.sal.perspective"
            name="Sensor Abstraction Layer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.rifidi.edge.client.sal.views.EdgeServerView"
            icon="icons/server.png"
            id="org.rifidi.edge.client.sal.views.EdgeServerView"
            name="Edge Server View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.sal.perspective">
         <view
               closeable="false"
               id="org.rifidi.edge.client.sal.views.EdgeServerView"
               minimized="false"
               moveable="true"
               ratio=".3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.rifidi.edge.client.sal.perspective">
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio=".5"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.rifidi.edge.client.sal.views.EdgeServerView?after=additions">
         <command
               commandId="org.rifidi.edge.client.sal.commands.edgeserver.connect"
               icon="icons/connect.png"
               id="org.rifidi.edge.client.sal.commands.edgeserver.connectBinding"
               label="Connect"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.edgeserver.disconnect"
               icon="icons/disconnect.png"
               id="org.rifidi.edge.client.sal.commands.edgeserver.disconnectBinding"
               label="Disconnect"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.edgeserver.update"
               icon="icons/arrow_refresh.png"
               id="org.rifidi.edge.client.sal.commands.edgeserver.updateBinding"
               label="Update"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.edgeserver.save"
               icon="icons/disk.png"
               id="org.rifidi.edge.client.sal.commands.edgeserver.saveBinding"
               label="Save"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.edgeserver.newreader"
               icon="icons/readeradd.png"
               label="New Reader"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.reader.delete"
               icon="icons/readerdelete.png"
               label="Delete Reader"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteReader">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.reader.createsession"
               icon="icons/link_add.png"
               label="Create Session"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteReader">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.session.delete"
               icon="icons/link_delete.png"
               label="Delete Session"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteSession">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.session.start"
               icon="icons/control_play_blue.png"
               label="Start Session"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteSession">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.sal.commands.session.stop"
               icon="icons/control_stop_blue.png"
               label="Stop Session"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteSession">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.ConnectHandler"
            commandId="org.rifidi.edge.client.sal.commands.edgeserver.connect">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
                  <test
                        property="org.rifidi.edge.client.sal.edgeserver.state"
                        value="DISCONNECTED">
                  </test>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.DisconnectHandler"
            commandId="org.rifidi.edge.client.sal.commands.edgeserver.disconnect">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
                  <test
                        property="org.rifidi.edge.client.sal.edgeserver.state"
                        value="CONNECTED">
                  </test>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.UpdateHandler"
            commandId="org.rifidi.edge.client.sal.commands.edgeserver.update">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
                  <test
                        property="org.rifidi.edge.client.sal.edgeserver.state"
                        value="CONNECTED">
                  </test>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.SaveConfigurationHandler"
            commandId="org.rifidi.edge.client.sal.commands.edgeserver.save">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
                  <test
                        property="org.rifidi.edge.client.sal.edgeserver.state"
                        value="CONNECTED">
                  </test>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.NewReaderHandler"
            commandId="org.rifidi.edge.client.sal.commands.edgeserver.newreader">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteEdgeServer">
                  </instanceof>
                  <test
                        property="org.rifidi.edge.client.sal.edgeserver.state"
                        value="CONNECTED">
                  </test>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.DeleteReaderHandler"
            commandId="org.rifidi.edge.client.sal.commands.reader.delete">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.rifidi.edge.client.model.sal.RemoteReader">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.CreateSessionHandler"
            commandId="org.rifidi.edge.client.sal.commands.reader.createsession">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.rifidi.edge.client.model.sal.RemoteReader">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.DeleteSessionHandler"
            commandId="org.rifidi.edge.client.sal.commands.session.delete">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.rifidi.edge.client.model.sal.RemoteSession">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.StartSessionHandler"
            commandId="org.rifidi.edge.client.sal.commands.session.start">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteSession">
                  </instanceof>
                  <or>
                     <test
                           property="org.rifidi.edge.client.sal.remotesession.state"
                           value="CREATED">
                     </test>
                     <test
                           property="org.rifidi.edge.client.sal.remotesession.state"
                           value="CLOSED">
                     </test>
                  </or>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.StopSessionHandler"
            commandId="org.rifidi.edge.client.sal.commands.session.stop">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteSession">
                  </instanceof>
                  <not>
                     <test
                           property="org.rifidi.edge.client.sal.remotesession.state"
                           value="CREATED">
                     </test>
                  </not>
                  <not>
                     <test
                           property="org.rifidi.edge.client.sal.remotesession.state"
                           value="CLOSED">
                     </test>
                  </not>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.rifidi.edge.client.sal.commands.edgeserver.connect"
            name="EdgeServerConnect">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.edgeserver.update"
            name="EdgeServerUpdate">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.edgeserver.disconnect"
            name="EdgeServerDisconnect">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.edgeserver.save"
            name="EdgeServerSave">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.edgeserver.newreader"
            name="EdgeServerNewReader">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.reader.delete"
            name="DeleteReader">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.reader.createsession"
            name="CreateSession">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.session.delete"
            name="DeleteSession">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.session.start"
            name="StartSession">
      </command>
      <command
            id="org.rifidi.edge.client.sal.commands.session.stop"
            name="StopSession">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.RemoteEdgeServerPropertyTester"
            id="org.rifidi.edge.client.sal.edgeserver"
            namespace="org.rifidi.edge.client.sal.edgeserver"
            properties="state"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.rifidi.edge.client.sal.controller.edgeserver.handlers.RemoteSessionPropertyTester"
            id="org.rifidi.edge.client.sal.remotesession"
            namespace="org.rifidi.edge.client.sal.remotesession"
            properties="state"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.rifidi.edge.client.model.sal.RemoteEdgeServer"
            class="org.rifidi.edge.client.sal.properties.RemoteEdgeServerAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.rifidi.edge.client.sal.wizards.NewReaderWizard"
            hasPages="true"
            id="org.rifidi.edge.client.sal.newreaderwizard"
            name="New Reader Wizard">
      </wizard>
   </extension>

</plugin>
