<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.rifidi.edge.client.ale.treeview"
            class="org.rifidi.edge.client.ale.editor.view.AleEditorView"
            id="org.rifidi.edge.client.ale.editor.view.aleeditorview"
            name="ALE Editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.edge.client.ale.editor.handlers.EditSpec"
            commandId="org.rifidi.edge.client.ale.editor.editspec">
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.editor.handlers.NewSpec"
            commandId="org.rifidi.edge.client.ale.editor.newremotespec">
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.editor.handlers.SubscribeToSpec"
            commandId="org.rifidi.edge.client.ale.editor.subscribetospec">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.rifidi.edge.client.ale.editor.editspec"
            name="Edit">
      </command>
      <command
            id="org.rifidi.edge.client.ale.editor.newremotespec"
            name="New">
      </command>
      <command
            id="org.rifidi.edge.client.ale.editor.subscribetospec"
            name="Subscribe">
      </command>
   </extension>

</plugin>
