<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.rifidi.edge.client.tags"
            name="Tags Category">
      </category>
      <view
            allowMultiple="true"
            category="org.rifidi.edge.client.tags"
            class="org.rifidi.edge.client.tags.views.reader.TagView"
            icon="icons/sample.gif"
            id="org.rifidi.edge.client.tags.views.reader.TagView"
            name="Tag View">
      </view>
      <view
            allowMultiple="true"
            category="org.rifidi.edge.client.tags"
            class="org.rifidi.edge.client.tags.views.server.TagServerView"
            icon="icons/sample.gif"
            id="org.rifidi.edge.client.tags.views.server.TagServerView"
            name="Tag Server View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.rifidi.edge.client.readerview.views.EdgeServerConnectionView?after=others.seperator">
         <command
               commandId="org.rifidi.edge.client.tags.commands.OpenTagDisplay"
               id="OpenTagDisplay"
               label="Open Tag Display"
               mnemonic="T"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.rifidi.edge.client.tags.handlers.TagDisplayHandler"
            id="org.rifidi.edge.client.tags.commands.OpenTagDisplay"
            name="OpenTagDisplay">
      </command>
   </extension>
</plugin>
