<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="org.rifidi.edge.client.target">

   <location path="${workspace_loc}/org.rifidi.edge.client.target"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
   </content>

</target>
