<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.rifidi.edge.client.ale"
            class="org.rifidi.edge.client.ale.ecspecview.views.ECSpecView"
            icon="icons/page.png"
            id="org.rifidi.edge.client.ale.ecspecview"
            name="ECSpec View"
            restorable="true">
      </view>
      <category
            id="org.rifidi.edge.client.ale"
            name="ALE">
      </category>
      <view
            allowMultiple="true"
            category="org.rifidi.edge.client.ale"
            class="org.rifidi.edge.client.ale.ecspecview.views.ECSpecEditorView"
            icon="icons/page_edit.png"
            id="org.rifidi.edge.client.ale.ecspecview.views.ECSpecEditorView"
            name="ECSpec Editor View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.rifidi.edge.client.ale"
            class="org.rifidi.edge.client.ale.logicalreaders.LRTreeViewPart"
            icon="icons/reader-16x16.png"
            id="org.rifidi.edge.client.ale.logicalreaders.LRView"
            name="Logical Reader View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.rifidi.edge.client.ale"
            class="org.rifidi.edge.client.ale.reports.ReportReceiverViewPart"
            icon="icons/email.png"
            id="org.rifidi.edge.client.ale.reports.ReportReceiverView"
            name="Report Receiver View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.rifidi.edge.client.ale.ecspecview.preference.ALEPreferenceInitializer">
      </initializer>
      <initializer
            class="org.rifidi.edge.client.ale.logicalreaders.EndpointInitializer">
      </initializer>
      <initializer
            class="org.rifidi.edge.client.ale.reports.ReportPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rifidi.edge.client.ale.ecspecview.preference.ALEPreferencePage"
            id="org.rifidi.edge.client.ale.ecspecview.alepreference"
            name="ALE Preference Page">
      </page>
      <page
            class="org.rifidi.edge.client.ale.logicalreaders.EndpointPreferencePage"
            id="org.rifidi.edge.ale.lr.endpoint"
            name="ALE Logical Reader Endpoint">
      </page>
      <page
            class="org.rifidi.edge.client.ale.reports.ReportPreferencePage"
            id="org.rifidi.edge.client.reportpreferences"
            name="Report Preference Page">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rifidi.edge.client.ale.ecspecview.perspective.ALEPerspectiveFactory"
            icon="icons/page.png"
            id="org.rifidi.edge.client.ale"
            name="ALE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.ale">
         <perspectiveShortcut
               id="org.rifidi.edge.client.ale">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.rifidi.edge.client.ale.ecspec"
            description="Create a new ECSpec"
            id="org.rifidi.edge.client.ale.ecspecview.newecspec"
            name="New ECSpec">
      </command>
      <category
            id="org.rifidi.edge.client.ale.ecspec"
            name="ECSpec">
      </category>
      <command
            categoryId="org.rifidi.edge.client.ale.ecspec"
            description="Display an ECSpec"
            id="org.rifidi.edge.client.ale.ecspecview.displayECSpec"
            name="Display ECSpec">
      </command>
      <command
            categoryId="org.rifidi.edge.ale.lr.category"
            description="Delete a logical reader"
            id="org.rifidi.edge.ale.lr.commands.delete"
            name="Delete Reader">
      </command>
      <command
            categoryId="org.rifidi.edge.ale.lr.category"
            description="Create a new reader from a list of readers"
            id="org.rifidi.edge.ale.lr.commands.create"
            name="Create Composite Reader">
      </command>
      <category
            description="Commands for ALE Logical Readers"
            id="org.rifidi.edge.ale.lr.category"
            name="ALE LR">
      </category>
      <command
            categoryId="org.rifidi.edge.client.ale.ecspec"
            description="Delete an ECSpec"
            id="org.rifidi.edge.client.ale.ecspecview.deleteECSpec"
            name="Delete">
      </command>
      <command
            categoryId="org.rifidi.edge.client.ale.ecspec"
            description="Subscribe to an ECSpec"
            id="org.rifidi.edge.client.ale.ecspecview.subscribeECSpec"
            name="Subscribe">
      </command>
      <command
            categoryId="org.rifidi.edge.client.ale.ecspec"
            description="Clear the report view"
            id="org.rifidi.edge.client.ale.reportview.clearcommand"
            name="Clear">
      </command>
      <command
            categoryId="org.rifidi.edge.client.ale.ecspec"
            description="Unsubscribe from an ECSpec"
            id="org.rifidi.edge.client.ale.ecspecview.unsubscribeECSpec"
            name="Unsubscribe">
      </command>
      <command
            categoryId="org.rifidi.edge.ale.lr.category"
            description="Refresh the list of logical readers"
            id="org.rifidi.edge.ale.lr.commands.refresh"
            name="Refresh Logical Readers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.NewECSpec"
            commandId="org.rifidi.edge.client.ale.ecspecview.newecspec">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.rifidi.edge.client.ale.api.wsdl.ale.epcglobal.ALEServicePortType">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.DisplayECSpecHandler"
            commandId="org.rifidi.edge.client.ale.ecspecview.displayECSpec">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.rifidi.edge.client.ale.api.xsd.ale.epcglobal.ECSpec">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.DeleteHandler"
            commandId="org.rifidi.edge.ale.lr.commands.delete">
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.CreateHandler"
            commandId="org.rifidi.edge.ale.lr.commands.create">
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.DeleteECSpecHandler"
            commandId="org.rifidi.edge.client.ale.ecspecview.deleteECSpec">
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.SubscribeECSpecHandler"
            commandId="org.rifidi.edge.client.ale.ecspecview.subscribeECSpec">
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.reports.handlers.ClearReportViewHandler"
            commandId="org.rifidi.edge.client.ale.reportview.clearcommand">
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.UnsubscribeECSpecHandler"
            commandId="org.rifidi.edge.client.ale.ecspecview.unsubscribeECSpec">
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.RefreshHandler"
            commandId="org.rifidi.edge.ale.lr.commands.refresh">
      </handler>
   </extension>
      <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.rifidi.edge.client.ale.logicalreaders.LRSpecDecoratorPropertyTester"
            id="org.rifidi.edge.ale.lr"
            namespace="org.rifidi.edge.ale.lr"
            properties="locked"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.rifidi.edge.client.ale.ecspecview?after=additions">
         <command
               commandId="org.rifidi.edge.client.ale.ecspecview.newecspec"
               icon="icons/page_add.png"
               label="New ECSpec"
               style="push">
         </command>
         <command
               commandId="org.rifidi.edge.client.ale.ecspecview.displayECSpec"
               icon="icons/page_go.png"
               label="Display"
               style="push">
            <visibleWhen>
               <and>
                  <iterate>
                     <instanceof
                           value="org.rifidi.edge.client.ale.api.xsd.ale.epcglobal.ECSpec">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.ale.ecspecview.deleteECSpec"
               icon="icons/page_delete.png"
               label="Delete"
               style="push">
            <visibleWhen>
               <and>
                  <iterate>
                     <instanceof
                           value="org.rifidi.edge.client.ale.api.xsd.ale.epcglobal.ECSpec">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.ale.ecspecview.subscribeECSpec"
               icon="icons/page-subscribe.png"
               label="Subscribe"
               style="push">
            <visibleWhen>
               <and>
                  <iterate>
                     <instanceof
                           value="org.rifidi.edge.client.ale.api.xsd.ale.epcglobal.ECSpec">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.ale.ecspecview.unsubscribeECSpec"
               icon="icons/page-unsubscribe.png"
               label="Unsubscribe"
               style="push">
            <visibleWhen>
               <and>
                  <iterate>
                     <instanceof
                           value="org.rifidi.edge.client.ale.api.xsd.ale.epcglobal.ECSpec">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.rifidi.edge.ale.lr.commands.delete"
               icon="icons/readerdelete.png"
               label="Delete"
               style="push">
            <visibleWhen>
               <and>
                  <iterate>
                     <instanceof
                           value="org.rifidi.edge.client.ale.logicalreaders.decorators.LRSpecDecorator">
                     </instanceof>
                  </iterate>
                  <test
                        property="org.rifidi.edge.ale.lr.locked">
                  </test>
                  <not>
                     <iterate>
                        <instanceof
                              value="org.rifidi.edge.client.ale.logicalreaders.decorators.LRSpecSubnodeDecorator">
                        </instanceof>
                     </iterate>
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.ale.lr.commands.create"
               icon="icons/readeradd.png"
               label="Create"
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.edge.client.ale.logicalreaders.decorators.LRSpecDecorator">
                     </instanceof>
                  </iterate>
                  <not>
                     <iterate>
                        <instanceof
                              value="org.rifidi.edge.client.ale.logicalreaders.decorators.LRSpecSubnodeDecorator">
                        </instanceof>
                     </iterate>
                  </not>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.rifidi.edge.client.ale.ecspecview.views.ECSpecEditorView?after=additions">
         <command
               commandId="org.rifidi.edge.client.ale.reportview.clearcommand"
               icon="icons/report_delete.png"
               label="Clear"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.rifidi.edge.client.ale.ecspecview?after=additions">
         <command
               commandId="org.rifidi.edge.ale.lr.commands.refresh"
               icon="icons/arrow_refresh.png"
               label="Reload"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
