<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Rifidi Edge Server Target">
<locations>
<location path="${workspace_loc}/Rifidi-SDK/lib/esper" type="Directory"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/eclipseaspects" type="Directory"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/logging" type="Directory"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/tomcat" type="Directory"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/javax" type="Directory"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/commons" type="Directory"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/aspectj" type="Directory"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/plugins" type="Profile"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/rifidi" type="Directory"/>
<location path="${workspace_loc}/Rifidi-SDK/lib/spring" type="Directory"/>
<location path="/Users/percent/new-11-06/Rifidi-SDK/lib/libraries" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>en_US</nl>
</environment>
</target>
