<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Edge Server"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="deselected_workspace_plugins" value="org.rifidi.edge.tags.epc,org.rifidi.edge.testing.ale,org.rifidi.edge.tags.epc.ale,org.rifidi.edge.testing.tags.epc,org.rifidi.edge.testing.tags,org.rifidi.edge.ale,org.rifidi.edge.testing.tags.epc.ale,org.fosstrak.tdt,org.rifidi.edge.tags.encodings.epc,org.rifidi.edge.tags,org.rifidi.edge.testing,org.rifidi.edge.testing.tags.encodings.epc"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="target_bundles" value="org.rifidi.edge.readerplugin.llrp@default:default,org.rifidi.edge.readerplugin.thingmagic@default:default,org.rifidi.edge.common.utilities@default:default,org.rifidi.logging@default:default,org.apache.activemq@default:default,org.rifidi.edge.core.communication@default:default,org.rifidi.edge.services@default:default,org.rifidi.edge.readerplugin.alien@default:default,org.rifidi.edge.core.messageQueue@default:default,org.rifidi.edge.core.deploy@default:default,org.rifidi.dynamicSWTForms.xml@default:default,org.rifidi.edge.core@default:default,org.rifidi.edge.jms@default:default,org.eclipse.osgi@:,org.rifidi.edge.readerplugin.dummy@default:default,org.rifidi.edge.core.rmi@default:default"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="workspace_bundles" value="org.rifidi.log4j.edge@default:false"/>
</launchConfiguration>
