<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="org.rifidi.edge.target">
<locations>
<location path="${workspace_loc}/org.rifidi.edge.target" type="Profile"/>
<location path="${workspace_loc}/org.rifidi.edge.target/libraries" type="Directory"/>
<location path="${workspace_loc}/org.rifidi.edge.target/esper" type="Directory"/>
<location path="${workspace_loc}/org.rifidi.edge.target/spring" type="Directory"/>
</locations>
</target>
