<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.rifidi.edge.client.ale"
            class="org.rifidi.edge.client.ale.ecspecview.views.ECSpecView"
            id="org.rifidi.edge.client.ale.ecspecview"
            name="ECSpec View"
            restorable="true">
      </view>
      <category
            id="org.rifidi.edge.client.ale"
            name="ALE">
      </category>
      <view
            allowMultiple="true"
            category="org.rifidi.edge.client.ale"
            class="org.rifidi.edge.client.ale.ecspecview.views.ALEEditorView"
            id="org.rifidi.edge.client.ale.ecspecview.views.ALEEditorView"
            name="ECSpec Editor View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.rifidi.edge.client.ale"
            class="org.rifidi.edge.ale.lr.LRTreeViewPart"
            id="org.rifidi.edge.ale.lr.LRTreeView"
            name="Logical Reader View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.rifidi.edge.client.ale.ecspecview.preference.ALEPreferenceInitializer">
      </initializer>
      <initializer
            class="org.rifidi.edge.ale.lr.EndpointInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rifidi.edge.client.ale.ecspecview.preference.ALEPreferencePage"
            id="org.rifidi.edge.client.ale.ecspecview.alepreference"
            name="ALE Preference Page">
      </page>
      <page
            class="org.rifidi.edge.ale.lr.EndpointPreferencePage"
            id="org.rifidi.edge.ale.lr.endpoint"
            name="ALE Logical Reader Endpoint">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rifidi.edge.client.ale.ecspecview.perspective.ALEPerspectiveFactory"
            id="org.rifidi.edge.client.ale"
            name="ALE Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.ale">
         <perspectiveShortcut
               id="org.rifidi.edge.client.ale">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.rifidi.edge.client.ale.ecspec"
            description="Create a new ECSpec"
            id="org.rifidi.edge.client.ale.ecspecview.newecspec"
            name="New ECSpec">
      </command>
      <category
            id="org.rifidi.edge.client.ale.ecspec"
            name="ECSpec">
      </category>
      <command
            description="Display A ECSpec"
            id="org.rifidi.edge.client.ale.ecspecview.displayECSpec"
            name="Display ECSpec">
      </command>
      <command
            categoryId="org.rifidi.edge.ale.lr.category"
            description="Delete a logical reader"
            id="org.rifidi.edge.ale.lr.commands.delete"
            name="Delete Reader">
      </command>
      <command
            categoryId="org.rifidi.edge.ale.lr.category"
            description="Create a new reader from a list of readers"
            id="org.rifidi.edge.ale.lr.commands.create"
            name="Create Composite Reader">
      </command>
      <category
            description="Commands for ALE Logical Readers"
            id="org.rifidi.edge.ale.lr.category"
            name="ALE LR">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.NewECSpec"
            commandId="org.rifidi.edge.client.ale.ecspecview.newecspec">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.rifidi.edge.client.ale.api.wsdl.ale.epcglobal.ALEServicePortType">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.client.ale.ecspecview.handlers.DisplayECSpecHandler"
            commandId="org.rifidi.edge.client.ale.ecspecview.displayECSpec">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="org.rifidi.edge.client.ale.api.xsd.ale.epcglobal.ECSpec">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.edge.ale.lr.commands.DeleteHandler"
            commandId="org.rifidi.edge.ale.lr.commands.delete">
      </handler>
      <handler
            class="org.rifidi.edge.ale.lr.commands.CreateHandler"
            commandId="org.rifidi.edge.ale.lr.commands.create">
      </handler>
   </extension>
      <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.rifidi.edge.ale.lr.LRSpecDecoratorPropertyTester"
            id="org.rifidi.edge.ale.lr"
            namespace="org.rifidi.edge.ale.lr"
            properties="locked"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.rifidi.edge.client.ale.ecspecview?after=additions">
         <command
               commandId="org.rifidi.edge.client.ale.ecspecview.newecspec"
               label="New ECSpec"
               style="push">
         </command>
         <command
               commandId="org.rifidi.edge.client.ale.ecspecview.displayECSpec"
               label="Display ECSPec"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.rifidi.edge.ale.lr.commands.delete"
               label="Delete"
               style="push">
            <visibleWhen>
               <and>
                  <iterate>
                     <instanceof
                           value="org.rifidi.edge.ale.lr.decorators.LRSpecDecorator">
                     </instanceof>
                  </iterate>
                  <test
                        property="org.rifidi.edge.ale.lr.locked">
                  </test>
                  <not>
                     <iterate>
                        <instanceof
                              value="org.rifidi.edge.ale.lr.decorators.LRSpecSubnodeDecorator">
                        </instanceof>
                     </iterate>
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.ale.lr.commands.create"
               label="Create"
               style="push">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.edge.ale.lr.decorators.LRSpecDecorator">
                     </instanceof>
                  </iterate>
                  <not>
                     <iterate>
                        <instanceof
                              value="org.rifidi.edge.ale.lr.decorators.LRSpecSubnodeDecorator">
                        </instanceof>
                     </iterate>
                  </not>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
