Package: rifidi
Version: 3.8.1
Installed-Size: 155014
Section: web 
Depends: 
Suggests: python, openjdk-8-jre, curl
Maintainer: [matt@transcends.co]
Architecture: i386
Replaces: 
Provides: rifidi
Description: 
	Rifidi Edge is a complete RFID Middleware Platform 
	with an edge server and development tools to enable 
	the development and deployment of highly customized 
	RFID applications.   The goal of the product is to 
	provide an open source alternative to popular RFID 
	platforms such as IBM Premises Server and Microsoft 
	Biztalk RFID.   Built on a cutting edge Java OSGI 
	platform and integrated with a powerful open source 
	rules engine (Esper) Rifidi Edge can build complex 
	applications that interact with the most popular 
	RFID and sensor devices available today. 
