<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.rifidi.edge.client.ale.ui.views.FncView"
            id="org.rifidi.edge.client.ale.ui.views.FncView"
            name="ALE View"
            restorable="true">
      </view>
      <view
            class="org.rifidi.edge.client.ale.ui.views.LrView"
            id="org.rifidi.edge.client.ale.ui.views.LrView"
            name="Event Sink"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.perspective.perspective">
         <view
               id="org.rifidi.edge.client.ale.ui.views.FncView"
               minimized="false"
               ratio="1.0f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.rifidi.edge.client.ale.ui.views.LrView"
               minimized="false"
               relationship="stack"
               relative="org.rifidi.edge.client.ale.ui.views.FncView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
