<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rifidi.site.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.rifidi.site.ui.Perspective"
            id="org.rifidi.site.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="TemplateView"
            class="org.rifidi.site.ui.TemplateView"
            id="org.rifidi.site.ui.templateview">
      </view>
      <view
            class="org.rifidi.site.ui.ReaderView"
            id="org.rifidi.site.ui.readerview"
            name="ReaderView"
            restorable="true">
      </view>
      <view
            class="org.rifidi.site.ui.DefaultCustomView"
            id="org.rifidi.site.ui.defaultcustomview"
            name="DefaultCustomView"
            restorable="true">
      </view>
   </extension>

</plugin>
