<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="org.rifidi.edge.client.newtarget">

   <location path="${workspace_loc}/org.rifidi.edge.client.newtarget"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${workspace_loc}/org.rifidi.edge.client.newtarget/libraries"/>
         <location path="${workspace_loc}/org.rifidi.edge.client.newtarget/spring"/>
      </extraLocations>
   </content>

</target>
