<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Restored Target">
<locations>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target" type="Profile"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\esper" type="Directory"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\libraries" type="Directory"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\aspectj" type="Directory"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\eclipseaspects" type="Directory"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\spring" type="Directory"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\logging" type="Directory"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\tomcat" type="Directory"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\javax" type="Directory"/>
<location path="C:\Users\Owner\workspaces\edgeserver\org.rifidi.edge.target\commons" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>en_US</nl>
</environment>
</target>
