<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.rifidi.edge.client.ale.ecspecview">
      </category>
      <view
            name="EC Spec View"
            icon="icons/sample.gif"
            category="org.rifidi.edge.client.ale.ecspecview"
            class="org.rifidi.edge.client.ale.ecspecview.views.EcSpecView"
            id="org.rifidi.edge.client.ale.ecspecview.views.EcSpecView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.ale.ecspecview.aleperspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="org.rifidi.edge.client.ale.ecspecview.views.EcSpecView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rifidi.edge.client.ale.ecspecview.perspective.AlePerspective"
            id="org.rifidi.edge.client.ale.ecspecview.aleperspective"
            name="ALE Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.rifidi.edge.client.ale.ecspecview.preferences.EcSpecViewPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rifidi.edge.client.ale.ecspecview.preferences.EcSpecViewPreferencePage"
            id="org.rifidi.edge.client.ale.ecspecview.ecspecviewpreferencepage"
            name="Endpoints">
      </page>
   </extension>

</plugin>
