<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rifidi.edge.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="file"
               label="File">
            <command
                  commandId="exit.command"
                  id="Exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.rifidi.edge.client.Perspective"
            id="org.rifidi.edge.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.rifidi.edge.client.handlers.ExitHandler"
            id="exit.command"
            name="Exit">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.edge.client.application"
            name="Rifidi Edge Client">
         <property
               name="appName"
               value="Rifidi Edge Client">
         </property>
      </product>
   </extension>
   </plugin>
