<div>

    <h4>Error modifying server properties for <b>{{elementTree.currentNode.displayName}}</b><h4>
        {{errorMessage}}

        <div class="ngdialog-buttons">

            <!--
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("Save")>Save server properties</button>
            -->

            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Close")>Close</button>

        </div>

</div>
