<div>

    <h4>Are you sure to submit job for session <b>{{commandWizardData.session.sessionID}}</b> of sensor <b>{{commandWizardData.session.sensor.elementId}}</b>?<h4>

        <div class="ngdialog-buttons">

            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("Submit")>Submit job</button>

            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>

        </div>

</div>
