<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.rifidi.edge.client.sitewizard.SiteWizardView"
            id="org.rifidi.edge.client.sitewizard.sitewizardview"
            name="SiteWizardView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.perspective">
         <view
               closeable="false"
               id="org.rifidi.edge.client.sitewizard.sitewizardview"
               minimized="false"
               moveable="false"
               ratio="1.0"
               relationship="left"
               relative="editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.edge.client.application"
            name="org.rifidi.edge.client.sitewizard">
         <property
               name="appName"
               value="org.rifidi.edge.client.sitewizard">
         </property>
      </product>
   </extension>

</plugin>
