<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.perspective">
         <view
               closeable="false"
               id="org.rifidi.edge.client.properties.view.MyPropertySheet"
               minimized="false"
               moveable="true"
               ratio="1"
               relationship="stack"
               relative="org.rifidi.edge.client.commands.views.ReaderCommandView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.rifidi.edge.client.readerview.views.EdgeServerConnectionView"
            labelProvider="org.rifidi.edge.client.properties.label.PropertyLabelProvider"
            tabDescriptorProvider="org.rifidi.edge.client.properties.tabs.RemoteReaderPropertyTabDescriptionProvider">
         <propertyCategory></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.rifidi.edge.client.connections.views.EdgeServerConnectionView"
            class="org.rifidi.edge.client.properties.adapter.ConnectionViewPropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySheetPage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.rifidi.edge.client.properties.view.ReaderPropertiesView"
            id="org.rifidi.edge.client.properties.view.MyPropertySheet"
            name="Reader Properties"
            restorable="true">
      </view>
   </extension>

</plugin>
