<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rifidi.edge.build.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.rifidi.edge.build.perspective.Perspective"
            id="org.rifidi.edge.build.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.rifidi.edge.build.views.MainView"
            id="org.rifidi.edge.build.views.MainView"
            name="Main View">
      </view>
      <view
            allowMultiple="false"
            class="org.rifidi.edge.build.views.EdgeServerView"
            id="org.rifidi.edge.build.views.EdgeServerView"
            name="EdgeServerView">
      </view>
   </extension>
   <extension
         id="buildproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.edge.build.application"
            name="Rifidi Build Tool">
         <property
               name="appName"
               value="Rifidi Build Tool">
         </property>
      </product>
   </extension>

</plugin>
