<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    plugin.xml
    
    Created:     July 8th, 2009
    Project:       Rifidi Edge Server - A middleware platform for RFID applications
                       http://www.rifidi.org
                       http://rifidi.sourceforge.net
    Copyright:   Pramari LLC and the Rifidi Project
    License:      The software in this package is published under the terms of the EPL License
                       A copy of the license is included in this distribution under Rifidi-License.txt 
 -->

<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rifidi.edge.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.rifidi.edge.client.menus.file"
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="Exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.rifidi.edge.client.menus.window"
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Show Perspectives"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.rifidi.edge.client.menus.help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="Help"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.edge.client.application"
            name="Rifidi Edge Client">
         <property
               name="appName"
               value="Rifidi Edge Client">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,575,15">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,252,445,20">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="aboutText"
               value="Thank you for using Rifidi Workbench version 1.0.0.  For assistance, please see our forums at http://forums.rifidi.org">
         </property>
         <property
               name="windowImages"
               value="icons/title_rifidi_16x16.gif,icons/title_rifidi_32x32.gif">
         </property>
      </product>
   </extension>
   </plugin>
