<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.rifidi.edge.client.logging.impl.LogHandler"
            id="org.rifidi.edge.client.logging.commands.Loging"
            name="Loging">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.rifidi.edge.client.logging.commands.Loging"
               id="Loging"
               label="Log Tags"
               style="toggle">
            <visibleWhen>
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <instanceof
                        value="org.rifidi.edge.client.connections.edgeserver.RemoteReader">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
 
</plugin>
