<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.rifidi.dashboard.twodview.views.SiteView"
            id="org.rifidi.dashboard.twodview.views.SiteView"
            name="SiteView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="org.rifidi.dashboard.twodview.2dview"
            id="org.rifidi.dashboard.twodview.changefloorplan"
            name="Change floorplan">
      </command>
      <category
            description="2dview"
            id="org.rifidi.dashboard.twodview.2dview"
            name="2dview">
      </category>
      <command
            category="org.rifidi.dashboard.twodview.2dview"
            id="org.rifidi.dashboard.twodview.removereader"
            name="Remove Reader">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=twodview">
         <command
               commandId="org.rifidi.dashboard.twodview.changefloorplan"
               label="ChangeFloorplan"
               style="push">
         </command>
         <command
               commandId="org.rifidi.dashboard.twodview.removereader"
               id="RemoveFromMap"
               label="Remove"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.dashboard.twodview.commands.ChangeFloorPlan"
            commandId="org.rifidi.dashboard.twodview.changefloorplan">
      </handler>
      <handler
            class="org.rifidi.dashboard.twodview.commands.RemoveReader"
            commandId="org.rifidi.dashboard.twodview.removereader">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.perspective">
         <view
               closeable="true"
               id="org.rifidi.dashboard.twodview.views.SiteView"
               minimized="false"
               moveable="true"
               ratio="1.0"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
