<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.rifidi.edge.client.twodview.views.SiteView"
            icon="icons/map.png"
            id="org.rifidi.edge.client.twodview.views.SiteView"
            name="SiteView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="org.rifidi.edge.client.twodview.2dview"
            id="org.rifidi.edge.client.twodview.changefloorplan"
            name="Change floorplan">
      </command>
      <command
            category="org.rifidi.edge.client.twodview.2dview"
            id="org.rifidi.edge.client.twodview.removereader"
            name="Remove Reader">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=twodview">
         <command
               commandId="org.rifidi.edge.client.twodview.changefloorplan"
               icon="icons/map-wrench.png"
               label="Change Floorplan"
               style="push">
         </command>
         <command
               commandId="org.rifidi.edge.client.twodview.removereader"
               icon="icons/reader-16x16-remove.png"
               id="RemoveFromMap"
               label="Remove Reader From Floorplan"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.rifidi.edge.client.model.sal.RemoteReader">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.edge.client.twodview.handlers.ChangeFloorPlan"
            commandId="org.rifidi.edge.client.twodview.changefloorplan">
      </handler>
      <handler
            class="org.rifidi.edge.client.twodview.handlers.RemoveReader"
            commandId="org.rifidi.edge.client.twodview.removereader">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.rifidi.edge.client.twodview.views.SiteView"
            class="org.rifidi.edge.client.twodview.views.SiteViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySheetPage">
         </adapter>
      </factory>
   </extension>

</plugin>
