<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.rifidi.edge.client.twodview.views.SiteView"
            id="org.rifidi.edge.client.twodview.views.SiteView"
            name="SiteView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="org.rifidi.edge.client.twodview.2dview"
            id="org.rifidi.edge.client.twodview.changefloorplan"
            name="Change floorplan">
      </command>
      <category
            description="2dview"
            id="org.rifidi.edge.client.twodview.2dview"
            name="2dview">
      </category>
      <command
            category="org.rifidi.edge.client.twodview.2dview"
            id="org.rifidi.edge.client.twodview.removereader"
            name="Remove Reader">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=twodview">
         <command
               commandId="org.rifidi.edge.client.twodview.changefloorplan"
               label="ChangeFloorplan"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="true">
                  <not>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                  </not>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.twodview.removereader"
               id="RemoveFromMap"
               label="Remove"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.tags.commands.OpenTagDisplay"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.EditReaderInfo"
               icon="icons/bullet_wrench.png"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="CONFIGURED"
                           property="org.rifidi.edge.client.connections.edgeserver.state">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.commands.EnableReader"
               icon="icons/flag_green.gif"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="CONFIGURED"
                           property="org.rifidi.edge.client.connections.edgeserver.state">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.commands.DisableReader"
               icon="icons/flag_red.gif"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="OK"
                           property="org.rifidi.edge.client.connections.edgeserver.state">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.edge.client.connections.commands.ResetReader"
               icon="icons/icon_history.gif"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.rifidi.edge.client.connections.remotereader.RemoteReader">
                     </instanceof>
                     <test
                           args="ERROR"
                           property="org.rifidi.edge.client.connections.edgeserver.state">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.edge.client.twodview.handlers.ChangeFloorPlan"
            commandId="org.rifidi.edge.client.twodview.changefloorplan">
      </handler>
      <handler
            class="org.rifidi.edge.client.twodview.handlers.RemoveReader"
            commandId="org.rifidi.edge.client.twodview.removereader">
      </handler>
   </extension>

</plugin>
