<div>

    <h4>For properties to take effect based on current Rifidi application framework, application must be restarted. Do you want it to be restarted for you?</h4>

        <div class="ngdialog-buttons">

            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("Restart")>Restart App</button>

            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Do not restart</button>

        </div>

</div>
