<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Ambient</title>

</head>

<body>

<div id="containerAssociation">

<div id="pageheader">
  <h1 align="left">Association</h1>
</div>

<div location="backButton"></div>

<div id="date"><div align="right" location="labelDate"></div></div>
</div>

<div id="barcode" location="barcode"></div>
<div id="rfid" location="rfid"></div>

<div id="btnHelpAssociation" location="helpButtonAssociation"></div>


<div id="numbers" location="numbers"></div>
<div id="textButton" location="textButton"></div>
<div id="manualBarcodeButton" location="manualBarcode"></div>
<!-- end #container -->
</div>
</body>
</html>
