<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Ambient</title>
    </head>

    <body class="main">

        <div id="containerSplash">

            <div id="pageheader"><h1 align="left">LOGIN</h1></div>

            <div id="btnBackSplash" location="backButtonSplash"></div>

            <div id="btnLoginSplash" location="login"></div>

            <div id="date"><div align="right" location="labelDate"></div></div>
        <!-- end #container -->
        </div>
    </body>
</html>
