<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Ambient</title>

    </head>

    <body class="main">

        <div id="containerMenu">

            <div id="pageheader"><h1 align="left">MAIN MENU</h1></div>

            <div id="btnBack" location="btnBackPage"></div>

            <div id="embbeded_iframe">
                <iframe src ="http://localhost:8080/LabTrackUI" width="957px" height="586px"><p>Your browser does not support iframes.</p></iframe></div>

            <div id="date"><div align="right" location="labelDate"></div></div>
        <!-- end #container -->
        </div>
    </body>
</html>
