<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    plugin.xml
    
    Created:     July 8th, 2009
    Project:       Rifidi Edge Server - A middleware platform for RFID applications
                       http://www.rifidi.org
                       http://rifidi.sourceforge.net
    Copyright:   Pramari LLC and the Rifidi Project
    License:      The software in this package is published under the terms of the EPL License
                       A copy of the license is included in this distribution under Rifidi-License.txt 
 -->

<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rifidi.edge.client.model.sal.preferences.EdgeServerPreferencePage"
            id="org.rifidi.edge.client.model.sal.preferences.EdgeServerPreferencePage"
            name="Edge Server">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.rifidi.edge.client.model.sal.preferences.EdgeServerPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
