<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Sensor creation wizard
    </div>


    <div class="panel-body">

        <wizard on-finish="finishedSensorWizard(selectedReaderType)" edit-mode="false" ng-controller="SensorWizardCtrl">

            <wz-step title="Reader Type Selection">

                <form class="form-horizontal" role="form" name="form1" novalidate >

                    <h4>Reader adapter configuration wizard</h4>

                    <div class="form-group" >

                        <h4>1. You must choose a reader type</h4>

                        <div class="col-sm-3">
                            <label class="control-label" for="readerType">Reader Type</label>
                        </div>
                        <div class="col-sm-6">
                            <select id="readerType"
                                    name="readerType"
                                    ng-change="readerTypeSelectAction(selectedReaderType)"
                                    ng-model="selectedReaderType"
                                    ng-required="true"
                                    class="form-control"
                                    aria-describedby="helpReaderType"
                                    ng-options="value as value.factoryID for value in readerTypes | orderBy:'factoryID'">
                                <option>--</option>
                            </select>

                            <div ng-show="form1.$submitted || form1.readerType.$touched" >

                                <div ng-show="form1.readerType.$error.required">

                                    Reader type is required.

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <span id="helpReaderType" class="help-block">{{selectedReaderType.description}}</span>

                        </div>

                    </div>

                    <div class="form-group" >

                        <h4>2. Optionally provide a reader id</h4>

                        <div class="col-sm-3">
                            <label class="control-label" for="readerId">Reader ID</label>
                        </div>
                        <div class="col-sm-6">
                            <input name="readerId"
                                   id="readerId"
                                   type="text"
                                   ng-change="readerIdChangeAction(customReaderId)"
                                   class="form-control"
                                   aria-describedby="helpReaderId"
                                   ng-model="customReaderId">
                            </input>

                        </div>

                        <div class="col-sm-12">

                            <span id="helpReaderId" class="help-block">The reader id is important for applications' read zones to appropriate operate, and this id is used to link read zones with sensors. This command enables one to set the readerId versus the system generating one (default behavior).</span>

                        </div>

                    </div>

                    <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid" wz-next value="Next" />

                </form>

            </wz-step>

            <wz-step title="Create session">

                <form class="form-horizontal" role="form" name="form2" novalidate >

                    <h4>Create session for reader type: {{selectedReaderType.factoryID}}</h4>

                    <div class="form-group" >

                        <div ng-repeat="property in selectedReaderConnectionProperties.properties | orderBy:['ordervalue', 'displayname']">

                            <div class="col-sm-6">
                                <label class="control-label">{{property.displayname}}</label>
                            </div>


                            <div class="col-sm-6">
                                <input class="form-control" ng-show="property.type == 'java.lang.Integer'" type="number" ng-model="property.value" min="property.minvalue" max="property.maxvalue"/>
                                <input class="form-control" ng-show="property.type != 'java.lang.Integer'" type="text" ng-model="property.value" />

                            </div>

                        </div>

                        <div class="col-lg-6">
                            <label class="control-label">Automatically start session?</label>
                        </div>

                        <div class="col-lg-3">
                            <input type="checkbox" ng-model="selectedReaderConnectionProperties.startSessionAut">
                        </div>


                    </div>

                    <input type="submit" class="btn btn-warning" wz-previous value="Previous" />
                    <input type="submit" class="btn btn-primary" wz-next value="Next" />

                </form>


            </wz-step>

            <wz-step title="Create command">

                <form class="form-horizontal" role="form" name="form3" novalidate>

                    <h4>Create command</h4>

                    <div class="form-group" >

                        <h4>1. You must choose a command type</h4>

                        <div class="col-sm-3">
                            <label class="control-label" for="commandType">Command Type</label>
                        </div>

                        <div class="col-sm-6">
                            <select id="commandType"
                                    name="commandType"
                                    ng-change="commandTypeSelectAction(selectedCommandType)"
                                    ng-model="selectedCommandType"
                                    ng-required="true"
                                    ng-options="value as value.factoryID for value in commandTypes | orderBy:'factoryID'"
                                    aria-describedby="helpCommandType"
                                    class="form-control"
                                    >
                                <option>--</option>
                            </select>

                            <div ng-show="form3.$submitted || form3.commandType.$touched" >

                                <div ng-show="form3.commandType.$error.required">

                                    Command type is required.

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <span id="helpCommandType" class="help-block">{{selectedCommandType.description}}</span>

                        </div>
                    </div>

                    <div class="form-group">

                        <h4>2. Then you must either create a command instance or choose an already created one</h4>

                        <div class="col-lg-3">
                            <label class="control-label" for="commandInstance">Command Instance</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="commandInstance"
                                    name="commandInstance"
                                    ng-change="commandInstanceSelectAction(selectedCommandInstance)"
                                    ng-model="selectedCommandInstance"
                                    ng-required="true"
                                    class="form-control"
                                    aria-describedby="helpCommandInstance"
                                    ng-options="value as value.commandID for value in commandInstances | orderBy:'commandID'">

                            </select>

                            <div ng-show="form.$submitted || form.commandInstance.$touched" >

                                <div ng-show="form.commandInstance.$error.required">

                                    Command instance is required.

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">

                        <h4>3. Then set the properties for command instance</h4>

                        <tabset>
                            <tab heading="{{propertyCategory.category}}" ng-repeat="propertyCategory in commandProperties.propertyCategoryList">
                                <br/>

                                    <div class="form-group" ng-repeat="property in propertyCategory.properties | orderBy:['ordervalue', 'displayname']">

                                        <div class="col-sm-6">
                                            <label class="control-label">{{property.displayname}}</label>
                                        </div>

                                        <div class="col-sm-6">
                                            <input class="form-control" ng-show="property.type == 'java.lang.Integer'" type="number" ng-model="property.value" min="property.minvalue" max="property.maxvalue"/>
                                            <input class="form-control" ng-show="property.type != 'java.lang.Integer'" type="text" ng-model="property.value" />

                                        </div>

                                        <br>
                                        <p>

                                    </div>

                            </tab>
                        </tabset>

                    </div>

                    <div class="form-group">

                        <h4>4. Finally set the scheduling options</h4>

                        <div class="col-sm-12">
                            <label class="control-label" for="commandInstance"><input type="radio" name="schedulingOption"
                                value="oneTime" data-ng-model="schedulingOption" ng-click="">
                                One Time Execution</label>
                        </div>

                        <div class="col-sm-12">
                            <label class="control-label" for="commandInstance"><input type="radio" name="schedulingOption"
                                value="recurring" data-ng-model="schedulingOption">
                                Recurring Execution</label>
                        </div>

                        <div class="col-sm-6">

                            <input aria-describedby="intervalHelp" id="interval" name="interval" type="number"
                                   class="form-control" data-ng-model="interval" required
                                   ng-disabled="schedulingOption == 'oneTime'"

                                    />

                            <span id="intervalHelp"  class="help-block">The interval, in milisecs, if recurring.</span>

                        </div>

                    </div>

                    <input type="submit" class="btn btn-warning" wz-previous value="Previous" />
                    <input type="submit" class="btn btn-primary" wz-next value="Next" />

                </form>

            </wz-step>

            <wz-step title="Summary">
                <h4>Summary</h4>

                <form class="form-horizontal" role="form" name="form4" novalidate>

                    <div class="form-group" >


                        <h4>System is going to execute next steps:</h4>

                        <h4>* Create reader</h4>

                        <div class="col-lg-6">
                            <label class="control-label" >Reader type</label>
                        </div>
                        <div class="col-lg-3">
                            {{selectedReaderType.factoryID}}
                        </div>

                        <br>
                        <p></p>

                        <div class="col-lg-6">
                            <label class="control-label" >Reader id</label>
                        </div>
                        <div class="col-lg-3">
                            {{customReaderId}}
                        </div>

                        <br>
                        <p></p>


                        <div class="col-lg-6">
                            <label class="control-label" >Set reader properties:</label>
                        </div>
                        <br>
                        <p></p>

                        <div ng-repeat="property in selectedReaderConnectionProperties.properties | orderBy:['ordervalue', 'displayname']">

                            <div class="col-lg-6">
                                <label class="control-label">{{property.displayname}}</label>
                            </div>


                            <div class="col-lg-3">
                                {{property.value}}
                            </div>


                            <br>
                            <p>

                        </div>

                        <h4>* Create session</h4>

                        <h4 ng-show="selectedCommandInstance.commandID == '<New>'">* Create command of type {{selectedCommandType.factoryID}}</h4>
                        <h4 ng-show="selectedCommandInstance.commandID != '<New>'">* Do not create command of type {{selectedCommandType.factoryID}}</h4>


                        <div class="col-lg-6">
                            <label class="control-label" >Set command properties:</label>
                        </div>
                        <br>
                        <p></p>

                        <tabset>
                            <tab heading="{{propertyCategory.category}}" ng-repeat="propertyCategory in commandProperties.propertyCategoryList">
                                <br/>

                                <div ng-repeat="property in propertyCategory.properties | orderBy:['ordervalue', 'displayname']">

                                    <div class="col-lg-6">
                                        {{property.displayname}}
                                    </div>


                                    <div class="col-lg-3">
                                        {{property.value}}

                                    </div>


                                    <br>
                                    <p>

                                </div>


                            </tab>
                        </tabset>

                        <br>

                        <h4 >* Execute command</h4>

                        <h4 ng-show="selectedReaderConnectionProperties.startSessionAut">* Start session</h4>

                        <h4 ng-show="!selectedReaderConnectionProperties.startSessionAut">* Do not start session</h4>


                    </div>

                </form>

                <input type="submit" wz-previous value="Previous" />
                <input type="submit" wz-finish value="Confirm and execute" />


                <div >

                    <div class="col-lg-6">
                        <label class="control-label" >Creation of reader response:</label>
                    </div>
                    <div class="col-lg-3">
                        x{{sensorCreationResponseStatus.message}}
                        <br>
                        y{{sensorCreationResponseStatus.description}}
                    </div>

                    <br>
                    <p></p>

                    <div class="col-lg-6">
                        <label class="control-label" >Reader id</label>
                    </div>
                    <div class="col-lg-3">
                        {{customReaderId}}
                    </div>

                    <br>
                    <p></p>
                </div>

            </wz-step>

        </wizard>




    </div>
</div>



