<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Treeview Category"
            id="org.rifidi.edge.client.ale.treeview">
      </category>
      <view
            name="Edge Server Connections"
            icon="icons/sample.gif"
            category="org.rifidi.edge.client.ale.treeview"
            class="org.rifidi.edge.client.ale.treeview.views.AleTreeView"
            id="org.rifidi.edge.client.ale.treeview.views.AleTreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.ale.treeview.aleperspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="org.rifidi.edge.client.ale.treeview.views.AleTreeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rifidi.edge.client.ale.treeview.perspective.AlePerspective"
            id="org.rifidi.edge.client.ale.treeview.aleperspective"
            name="ALE Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.rifidi.edge.client.ale.treeview.preferences.AleTreeViewPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rifidi.edge.client.ale.treeview.preferences.AleTreeViewPreferencePage"
            id="org.rifidi.edge.client.ale.treeview.aleviewpreferencepage"
            name="Endpoints">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.rifidi.edge.client.ale.treeview.deleteremoteecspec"
            name="Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.edge.client.ale.treeview.handlers.DeleteRemoteEcSpecHandler"
            commandId="org.rifidi.edge.client.ale.treeview.deleteremoteecspec">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.rifidi.edge.client.ale.treeview.views.AleTreeView?after=aletreeview">
         <command
               commandId="org.rifidi.edge.client.ale.treeview.deleteremoteecspec"
               id="RemoveRemoteEcSpec"
               label="Delete"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="java.lang.String">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
