<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.rifidi.edge.client.tagview">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="org.rifidi.edge.client.tagview"
            class="org.rifidi.edge.client.tagview.views.SampleView"
            id="org.rifidi.edge.client.tagview.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.edge.client.perspective.perspective">
         <view
               ratio="1.0"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="org.rifidi.edge.client.tagview.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
